.highlighted {
    color: red;
}

.input {
    font-size: 25px;
    padding: 10px;
    background: transparent;
    border: 2px solid #333;
}

#angular-autocomplete {
	padding-top: 50px;
    font-family: 'monospace';
}

#angular-autocomplete #angular-typehead-results {
    padding: 0px;
    list-style: none;
}

#angular-typehead-search-box {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
}

#angular-typehead-autocomplete-term {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #bdc3c7;
}
