<!DOCTYPE html>
<html ng-app="app" ng-controller="angular-typeahead">

<head>
    <title>Angular Typeahead</title>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body>
    <div id="angular-autocomplete">
        <input class="input" id="search-box" ng-model="input" placeholder="Type here" />
        <input class="input" id="autocompleteterm" type="disabled" ng-model="first_term" />
        <ul class="result">
            <li ng-repeat="term in filteredTerms = (data | filter:input | sort:['toString',input,strict])">
                <p ng-bind-html="term | highlight:input"></p>
            </li>
        </ul>
    </div>
    <div>
        <a href="https://github.com/justanothermanoj/angular-typeahead"><h1>github.com/justanothermanoj/angular-typeahead</h1></a>
    </div>
</body>

</html>
